In [3]:
num1=float(input("enter any number you want"))
num2=float(input("enter any number you want"))
opearation=input("opearation /:")
if opearation=='/':
    while num2==0:
        print("error")
        num2=float(input("enter any number again"))
    print(num1/num2)
else:
    print("error")

enter any number you want 2
enter any number you want 0
opearation /: /

error

enter any number again 0

error

enter any number again 0

error

enter any number again 7

0.2857142857142857

In [7]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [26]:
for i in range(ord("a"),ord("z")+1):
    print(chr(i),end=(" "))

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [28]:
for i in range(ord("a"),ord("z")+1):
    print(chr(i))

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [13]:
numbers=input("enter any number you want").split()
numbers=list(map(int,numbers))
odd=[]
sum1=0

enter any number you want 0 9 8 7 6 5 4 3

In [15]:
for num in numbers:
    if num%2!=0:
        odd.append(num)
        sum1+=num
print(odd)
print(sum1)

[9, 7, 5, 3]
24

In [21]:
threshold=int(input("enter any threshold"))
if sum1>threshold:
    print(f"the sum {sum1} greater than threshold")
elif sum1==threshold:
    print(f"the sum {sum1} equal to threshold")
else:
    print(f"the sum {sum1} smaller than threshold")

enter any threshold 24

the sum 24 equal to threshold

In [23]:
age=int(input("enter any number you want"))
name=str(input("enter your name"))
print(f"your name is {name} you are {age} years old")

enter any number you want 19
enter your name yahia

your name is yahia you are 19 years old

In [12]:
x="yahia mostafa"
x.upper()

'YAHIA MOSTAFA'

In [14]:
x.lower()

'yahia mostafa'

In [3]:
def clculator(num1,num2):
    num1=float(input("enter num1"))
    num2=float(input("enter num2"))
    while num2==0:
        print("error")
        num2=float(input("enter num2 again"))
    print(num1/num2)
clculator(0,0)

enter num1 9
enter num2 0

error

enter num2 again 0

error

enter num2 again 0

error

enter num2 again 0

error

enter num2 again 0

error

enter num2 again 0

error

enter num2 again 0

error

enter num2 again 9

1.0